#contractaddress{
    margin: 5px;
    padding: 5px;
}

#abi{
    margin: 5px;
    padding: 5px;
}

#textboxes{
    margin: 5px;
    padding: 5px;
}

#textboxes > div {
    margin: 4px;
    padding: 4px;
}

#textboxes > div > input {
    margin: 4px;
}